<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg"
	data-natural-width=3000 data-natural-height=2000 data-position-y=center>
	<div class="overlay"></div>
	<div class="shadow-overlay"></div>
	<div class="home-content">
		<div class="row home-content__main">
			<h1>Employee Management</h1>
			<table class="table table-bordered" style="color:white">
				<thead>
					<form method="POST">
						<p>Name</p>
						<input type="text" class="form-control" name="name" />
						<p>Phone</p>
						<input type="text" class="form-control" name="phone" />
						<p>Address</p>
						<input type="text" class="form-control" name="address" />
						<p>Username</p>
						<input type="text" class="form-control" name="username" />
						<p>Password</p>
						<input type="text" class="form-control" name="password" />
				</thead>
				<tbody>
					{{#each employees}}
					<tr>
						<td>{{employeeName}}</td>
						<td>{{phone}}</td>
						<td>{{address}}</td>
						<td>{{roleId}}</td>
						<td>{{username}}</td>
						<td>{{password}}</td>
						<td>
							<input type="button" onclick="window.location.href = '/employee/add?employee={{employee}}';"
								class="btn btn-primary" value="Add" />
							<input type="button" onclick="window.location.href='/employee';" class="btn btn-primary"
								value="CANCEL" />
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</section>