<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg"
	data-natural-width=3000 data-natural-height=2000 data-position-y=center>
	<div class="overlay"></div>
	<div class="shadow-overlay"></div>
	<div class="home-content">
		<div class="row contact-content">
			<h1>Add Employee</h1>
			<form method="post" novalidate="novalidate">
				<fieldset>

					<div class="form-field">
						<label for="name" class="subscribe-message">Name</label>
						<input id="name" value="{{updateEmployee.name}}" name="name" type="text">
					</div>
					<div class="form-field">
						<label for="phone" class="subscribe-message">PhoneNumber</label>
						<input id="phone" value="{{updateEmployee.phone}}" name="phone" type="text">
					</div>
					<div class="form-field">
						<label for="address" class="subscribe-message">Address</label>
						<input id="address" value="{{updateEmployee.address}}" name="address" type="text">
					</div>
					<div class="form-field">
						<label for="username" class="subscribe-message">UserName</label>
						<input id="username" value="{{updateEmployee.username}}" name="username" type="text">
					</div>
					<div class="form-field">
						<label for="password" class="subscribe-message">Password</label>
						<input id="password" value="{{updateEmployee.password}}" name="password" type="text">
					</div>
					<div class="form-field">
						<label for="password" class="subscribe-message">Role</label>
						<select name="roleId">
							{{#each roles}}
								<option value={{roleId}} {{#if isSelected}} selected {{/if}} >{{roleName}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-field">
						<button type="submit" class="btn--primary">Submit</button>
						<button type="button" onclick="window.location.href='/employee'"
							class="btn--primary">Cancel</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>