<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg"
	data-natural-width=3000 data-natural-height=2000 data-position-y=center>
	<div class="overlay"></div>
	<div class="shadow-overlay"></div>
	<div class="home-content">
		<div class="row home-content__main">
			<h1>Job Management</h1><br />
			{{#if employee.canCreateJob}}
				<input type="button" onclick="window.location.href='/job/add'" class="btn btn-primary" value="ADD" />
			{{/if}}
			<br /><br /><br />
			<table class="table table-bordered" style="color:white">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Start Date</th>
						<th scope="col">End Date</th>
						{{#if employee.canCreateJob}}
							<th scope="col"></th>
						{{/if}}
					</tr>
				</thead>
				<tbody>
					{{#each jobs}}
					<tr>
						<td>{{jobName}}</td>
						<td>{{startDate}}</td>
						<td>{{endDate}}</td>
						{{#if ../employee.canCreateJob}}
						<td>
							<input type="button" onclick="window.location.href = '/job/update?jobId={{jobId}}';"
								class="btn btn-primary" value="Update" />
							<input type="button" onclick="window.location.href='/job/delete?jobId={{jobId}}';" class="btn btn-primary"
								value="DELETE" />
						</td>
						{{/if}}
					</tr>
					{{/each}}
				</tbody>
			</table>